<div class="table-responsive">
  <table class="table table-bordered align-middle">
      <thead>
          <tr>
              <th class=" text-white" style="background-color: #66A5AD;">Day/Period</th>
              <th class="text-white" style="background-color: #66A5AD;">1<br>08:00-08:50</th>
              <th class="text-white" style="background-color: #66A5AD;">2<br>08:50-09:40</th>
              <th class="text-white" style="background-color: #66A5AD;">3<br>09:50-10:40</th>
              <th class="text-white" style="background-color: #66A5AD;">4<br>10:40-11:30</th>
              <th class="bg-warning">Lunch<br>12:20-13:10</th>
              <th class="text-white" style="background-color: #66A5AD;">6<br>13:10-14:00</th>
              <th class="text-white" style="background-color: #66A5AD;">7<br>14:00-14:50</th>
              <th class="text-white" style="background-color: #66A5AD;">8<br>14:50-15:40</th>
          </tr>
      </thead>
      <tbody id="timetable-body">
          <!-- Content loaded dynamically -->
      </tbody>
  </table>
</div>